// font project
$font-family-sans-serif: "Montserrat", -apple-system, "Montserrat", sans-serif !default;
$font-weight-base: 300;

// font variable
$font-family-base: 'Montserrat', sans-serif !important;

// color variable
$light-purple: #9041ff96;
$light-blue: #0d6efdab;

//font-size h1, h2....
$h1-font-size: 10rem;
$h2-font-size: 15rem;
