<app-loader></app-loader>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="product-quote-form">
  <div class="container d-flex justify-content mb-3">
    <button type="button" class="btn btn-outline-light mt-4" (click)="goBackToStore()">
      <i class="bi bi-arrow-left"></i> Volver a la tienda
    </button>

  </div>
  <!-- Título -->
  <div class="text-center">
    <h1 class="store-title fs-1 fs-sm-3 fs-md-2">🛍️ Detalle de tu compra</h1>

    <h2 class="store-subtitle fs-md-2 fs-sm-3 fs-5">
      Aquí puedes revisar los productos que agregaste al carrito
    </h2>
  </div>

  <!-- Contenido del carrito -->
  <div class="container mt-4">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover bg-white">
        <thead class="table-dark">
        <tr>
          <th>Imagen</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of cart">
          <td>
            <img *ngIf="item.foto && item.foto !== 'NOT-IMAGE'; else noImg" [src]="item.foto" width="60" height="60" />
            <ng-template #noImg><span class="text-muted">Sin imagen</span></ng-template>
          </td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.pvp | currency: 'USD' }}</td>
          <td>{{ item.pvp * item.cantidad | currency: 'USD' }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="removeItem(item.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="text-end mt-3">
      <h4 class="text-white no-inspect">Total: {{ total | currency: 'USD' }}</h4>

      <button class="btn btn-success mt-2">Finalizar compra</button>
    </div>
  </div>
</form>
