
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="login-form">
  <div class="d-flex flex-column align-items-center gap-2 mt-3">
    <button type="button" class="guest-btn-colored btn-blue" (click)="goToLanding()">
      <mat-icon class="guest-icon">arrow_back</mat-icon>
      Regresar al inicio
    </button>

    <button type="button" class="guest-btn-colored btn-orange" (click)="goToStore()">
      <mat-icon class="guest-icon">store</mat-icon>
      Ir a la tienda sin usuario
    </button>
  </div>

  <div class="text-center mt-3">
    <img src="assets/images/LOGIN.png" alt="Logo" class="img-fluid" style="max-width: 300px;">
    <h3 class="login-title mt-3">Iniciar sesión</h3>
  </div>

  <div class="container d-flex flex-column align-items-center login-form-fields">
    <div class="d-flex flex-column">
      <mat-form-field>
        <input matInput placeholder="{{'forms.login.username' | translate}} "autocomplete="off"
               [formControl]="$any(formGroup).controls['username']" appOnlyLetters>
      </mat-form-field>
      <small *ngIf="formGroup.controls['username'].hasError('required') && formGroup.controls['username'].touched"
             class="text-danger">Usuario es requerido.</small>
    </div>

    <div class="d-flex flex-column">
      <mat-form-field>
        <input matInput type="password"     autocomplete="off" placeholder="{{'forms.login.password' | translate}}"
               [formControl]="$any(formGroup).controls['password']">
      </mat-form-field>
      <small *ngIf="formGroup.controls['password'].hasError('required') && formGroup.controls['password'].touched"
             class="text-danger">Contraseña es requerida.</small>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button mat-raised-button class="btn text-white" type="submit"
              [disabled]="!formGroup.valid"
              (click)="login()" color="primary">
        {{'forms.login.loginButton' | translate}}
      </button>
    </div>
  </div>

  <div class="text-center mt-5">
    <span class="text-white small-text">
      Developed by <strong style="color: #8B50FB;">SwiFt©</strong> (2025).
    </span>
  </div>
</form>
