.login-form {
  background: #18181C;
  h1{
    color: white;
    font-family: 'Acephimere', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    padding-top: 20px;
  }
  h2{
    color: white;
    font-family: 'Acephimere', sans-serif;
    font-weight: 1000;
    font-size: 15px;
  }
  .small-text {
    font-size: 0.75rem;
  }
}
