<div *ngIf="!isLoading">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="login-form">
    <div class="text-center">
      <h1>Consultar en bodega</h1>
    </div>

    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <input
            type="search"
            class="form-control"
            placeholder="Buscar producto o código..."
            aria-label="Search"
            formControlName="searchControl">
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8 text-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inventarioModal">
          <i class="bi bi-box-arrow-down"></i> Generar catálogo
        </button>


      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
              <tr>
                <th style="width: 10%; background-color: #08274F; color: white; font-weight: bold;">Código</th>
                <th style="width: 40%; background-color: #08274F; color: white; font-weight: bold;">Descripción</th>
                <th style="width: 10%; background-color: #08274F; color: white; font-weight: bold;">PVP</th>
                <th style="width: 10%; background-color: #08274F; color: white; font-weight: bold;">Foto</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of products" (click)="openProductModal(product)" style="cursor: pointer;">
                <td style="vertical-align: middle;">{{ product.codigo }}</td>
                <td class="text-break" style="vertical-align: middle;">{{ product.descripcion }}</td>
                <td style="vertical-align: middle;">{{ product.pvp | currency }}</td>
                <td style="padding: 0;">
                  <ng-container *ngIf="product.foto !== 'NOT-IMAGE'; else noImage">
                    <img [src]="product.foto" alt="Producto" class="img-thumbnail" style="max-width: 200px;" />
                  </ng-container>
                  <ng-template #noImage>
                    <span>Producto no contiene imagen</span>
                  </ng-template>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <hr class="styled-line">

    <div class="container mt-5">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-auto mb-2 mb-md-0">
          <h4>Total de productos: {{ totalCount }}</h4>
        </div>
        <div class="col-12 col-md-auto">
          <button class="btn btn-primary me-2" (click)="onPreviousPage()" [disabled]="currentPage === 1">Anterior</button>
          <button class="btn btn-primary" (click)="onNextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        </div>
      </div>
    </div>

    <hr class="styled-line">

    <div class="text-center mt-5">
      <span class="text-white small-text">
        Developed by <strong style="color: #8B50FB;">SwiFt©</strong> (2025).
      </span>
    </div>
  </form>

  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">Información detallada del producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <app-extra-product-info [product]="selectedProduct"></app-extra-product-info>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="inventarioModal" tabindex="-1" aria-labelledby="inventarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-0">
        <h5 class="modal-title w-100" id="inventarioModalLabel">¿Cómo deseas descargar tu catálogo?</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">

        <!-- ComboBox: Catálogo para -->
        <div class="mb-4 text-start">
          <label for="tipoInventario" class="form-label">Catálogo para:</label>
          <select id="tipoInventario" class="form-select bg-secondary text-white" [(ngModel)]="tipoInventario">
            <option value="estudiante">Estudiante</option>
            <option value="importador">Importador</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <!-- ComboBox: Mostrar -->
        <div class="mb-4 text-start">
          <label for="categoria" class="form-label">Mostrar:</label>
          <select id="categoria" class="form-select bg-secondary text-white" [(ngModel)]="tipoCategoria">
            <option value="todo">Todo</option>
            <option value="compuertas">Compuertas</option>
            <option value="modulos">Módulos</option>
          </select>
        </div>

        <!-- Texto centrado -->
        <p class="mb-4 text-center">Selecciona el formato para generar tu catálogo.</p>

        <!-- Botones -->
        <div class="d-grid gap-2 col-8 mx-auto">
          <button class="btn btn-danger" (click)="descargarPDF()">📄 Descargar PDF</button>
          <button class="btn btn-primary" (click)="descargarExcel()">📊 Descargar Excel</button>
        </div>

      </div>
    </div>
  </div>
</div>


